matplotlib
opencv-python
scikit-learn
trimesh
Pillow
pyrender
pyglet==1.5.15
tensorboard
git+https://github.com/nghorbani/configer
torchgeometry==0.1.2
smplx==0.1.28
conda install pytorch==1.12.1 torchvision==0.13.1 torchaudio==0.12.1 cudatoolkit=11.3 -c pytorch